{
  "openapi": "3.1.0",
  "info": {
    "title": "Agentcard API",
    "version": "2.0.0",
    "description": "The Agentcard v2 API — connect your users and verify their identity from your own backend. Every call is authenticated with a platform access token minted from your `client_id` + `client_secret`."
  },
  "servers": [
    {
      "url": "https://api.agentcard.sh",
      "description": "There is one base URL. Sandbox vs production is decided by the client credential you use, never by the host."
    }
  ],
  "security": [
    {
      "platformToken": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Exchange your client credentials for a platform access token, and introspect what a token acts as."
    },
    {
      "name": "Connect",
      "description": "Connect a user to your platform: send a one-time code, verify it, record consent, and keep the connection alive."
    },
    {
      "name": "Identity verification",
      "description": "Verify a connected user's identity: upload their ID, submit any extra fields we ask for, then show a short face scan."
    },
    {
      "name": "Wallet funding",
      "description": "Fund a connected user's wallet from your own UI — request a payment link, relay the phone verification code, and poll until the funds land."
    },
    {
      "name": "Withdrawals",
      "description": "Move money out of a connected user's wallet — to a saved bank account or a crypto address on Base. Transfers are processed manually by the Agentcard team, usually within 1-3 business days."
    }
  ],
  "paths": {
    "/api/v2/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create an access token",
        "operationId": "createAccessToken",
        "security": [],
        "description": "Exchanges your `client_id` + `client_secret` for a platform access token (OAuth2 client credentials, RFC 6749 §4.4). The token lives one hour — when it expires, exchange again; there are no refresh tokens on this grant.\n\nGet your credentials in the Agentcard dashboard under **Organization → Developer → Credentials**. A sandbox client mints tokens that act in sandbox; a production client acts in production.\n\nYou can also send the credentials as HTTP Basic (`Authorization: Basic base64(client_id:client_secret)`) instead of in the form body.\n\nThis endpoint is rate limited to 30 requests per 5 minutes per IP — cache the token and reuse it until it expires.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "description": "Always `client_credentials`."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your client id, from the dashboard."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your client secret (`acs_…`), shown once when you create the client."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The token to send as `Authorization: Bearer <access_token>` on every other call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "example": {
                  "access_token": "eyJhbGciOiJIUzI1NiIs…",
                  "token_type": "Bearer",
                  "expires_in": 3600,
                  "scope": "api"
                }
              }
            }
          },
          "400": {
            "description": "`unsupported_grant_type` — the `grant_type` isn't `client_credentials`. `unauthorized_client` — the client can't use this grant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                },
                "example": {
                  "error": "unsupported_grant_type",
                  "error_description": "Only grant_type=client_credentials is supported here"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_client` — unknown client or bad credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                },
                "example": {
                  "error": "invalid_client",
                  "error_description": "Unknown client or bad credentials"
                }
              }
            }
          },
          "403": {
            "description": "`access_denied` — the organization is suspended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                },
                "example": {
                  "error": "access_denied",
                  "error_description": "Organization is suspended"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Introspect credential",
        "operationId": "introspectCredential",
        "description": "Returns the organization and mode your token acts as. Useful as a health check and to confirm you're pointed at the right credential.",
        "responses": {
          "200": {
            "description": "The organization and mode behind the token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "api_v2"
                      ]
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "The organization the token belongs to."
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "sandbox",
                        "production"
                      ],
                      "description": "Decided by the client the token was minted from."
                    }
                  }
                },
                "example": {
                  "object": "api_v2",
                  "organization_id": "org_a1b2c3",
                  "mode": "sandbox"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/connect/start": {
      "post": {
        "tags": [
          "Connect"
        ],
        "summary": "Send a code",
        "operationId": "connectStart",
        "description": "Sends a one-time code to the user by email or phone. Provide **exactly one** of `email` or `phone`. Codes are valid for 10 minutes.\n\nIf you've designed a connect email in your dashboard, we send that branded email; otherwise we send a default one.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The user's email address. Provide this or `phone`, not both."
                  },
                  "phone": {
                    "type": "string",
                    "description": "The user's phone number in E.164 format (e.g. `+15551234567`). Provide this or `email`, not both."
                  },
                  "external_user_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Optional. Your own identifier for the user, stored on the attempt for your reference."
                  }
                }
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The attempt. Pass its `id` back as `connect_id` when you verify.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectAttempt"
                },
                "example": {
                  "object": "connect_attempt",
                  "id": "ca_9f8e7d6c",
                  "channel": "email",
                  "expires_at": "2026-07-12T20:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing or both of `email` and `phone`. `invalid_phone` — the number isn't valid or supported. `client_credentials_required` — the token wasn't minted from client credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "502": {
            "description": "`auth_provider_error` — the code couldn't be sent. Try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`auth_unavailable` — authentication is temporarily unavailable. Retry shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/connect/verify": {
      "post": {
        "tags": [
          "Connect"
        ],
        "summary": "Verify the code",
        "operationId": "connectVerify",
        "description": "Checks the code the user entered and, on success, connects the user and returns the token pair to store. Completing the code **is** the authorization — there is no separate approval screen.\n\nThe returned `access_token` is the **user's connection token**: it acts on behalf of this user (send it as the bearer token to the MCP server to create cards, check balances, and shop as them). It is not the platform token — the endpoints in this reference keep using your platform access token and name the user with `user_id`.\n\nA code can be verified once: a second verify of the same attempt returns `invalid_connect_attempt`.\n\nIn **sandbox** the code is always `111111`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connect_id",
                  "code"
                ],
                "properties": {
                  "connect_id": {
                    "type": "string",
                    "description": "The `id` returned by `/connect/start`."
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 12,
                    "description": "The one-time code the user entered. Always `111111` in sandbox."
                  }
                }
              },
              "example": {
                "connect_id": "ca_9f8e7d6c",
                "code": "111111"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The connection. Store the token pair and `user.id` — every KYC call names the user by it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "example": {
                  "object": "connection",
                  "access_token": "act_1a2b3c…",
                  "refresh_token": "rct_4d5e6f…",
                  "token_type": "Bearer",
                  "expires_in": 3600,
                  "user": {
                    "id": "user_7g8h9i",
                    "email": "user@example.com",
                    "phone": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing `connect_id` or `code`. `invalid_connect_attempt` — the attempt is unknown, already used, or expired. `client_credentials_required` — the token wasn't minted from client credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_code` — that code is invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "`auth_provider_error` — verification failed downstream. Try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/connect/consent": {
      "post": {
        "tags": [
          "Connect"
        ],
        "summary": "Record consent",
        "operationId": "connectConsent",
        "description": "Records that the user authorized your platform to act on their behalf. Safe to retry — it's idempotent per user, so a repeat call updates the same record instead of creating a duplicate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The `user.id` from `/connect/verify`."
                  },
                  "terms_version": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Optional. The version of your terms the user accepted, stored for your audit trail."
                  }
                }
              },
              "example": {
                "user_id": "user_7g8h9i",
                "terms_version": "2026-07-01"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The consent record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consent"
                },
                "example": {
                  "object": "consent",
                  "id": "cns_1a2b3c",
                  "user_id": "user_7g8h9i",
                  "terms_version": "2026-07-01",
                  "created_at": "2026-07-12T20:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing `user_id`. `client_credentials_required` — the token wasn't minted from client credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "`connection_not_found` — no connection exists for that user under your client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/connect/refresh": {
      "post": {
        "tags": [
          "Connect"
        ],
        "summary": "Refresh the connection",
        "operationId": "connectRefresh",
        "description": "Connection access tokens expire after one hour. Exchange the refresh token for a new pair before then.\n\nEach refresh returns a **new** refresh token and invalidates the old one — replace the stored token every time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "The refresh token from the most recent `/connect/verify` or `/connect/refresh`."
                  }
                }
              },
              "example": {
                "refresh_token": "rct_4d5e6f…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new token pair.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionRefreshed"
                },
                "example": {
                  "object": "connection",
                  "access_token": "act_9z8y7x…",
                  "refresh_token": "rct_6w5v4u…",
                  "token_type": "Bearer",
                  "expires_in": 3600
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing `refresh_token`. `client_credentials_required` — the token wasn't minted from client credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_refresh_token` — that refresh token is invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/kyc/documents/front": {
      "post": {
        "tags": [
          "Identity verification"
        ],
        "summary": "Upload the front of the ID",
        "operationId": "kycUploadFront",
        "description": "Uploads the front of the user's identity document as a base64-encoded image. This step acknowledges receipt; the next step (`back`) tells you what comes next.\n\nAny upload response may include a `warnings` array with actionable feedback (for example, that the other side of the document is still needed).",
        "requestBody": {
          "$ref": "#/components/requestBodies/KycDocument"
        },
        "responses": {
          "200": {
            "description": "Receipt acknowledged — upload the back next. May include a `warnings` array.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KycState"
                },
                "example": {
                  "object": "kyc",
                  "status": "awaiting_documents"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/KycDocumentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/UserConflict"
          },
          "422": {
            "$ref": "#/components/responses/DocumentUnprocessable"
          },
          "502": {
            "$ref": "#/components/responses/VerificationError"
          }
        }
      }
    },
    "/api/v2/kyc/documents/back": {
      "post": {
        "tags": [
          "Identity verification"
        ],
        "summary": "Upload the back of the ID",
        "operationId": "kycUploadBack",
        "description": "Uploads the back of the document. The response tells you what to do next — this is the branch point of the flow:\n\n- `needs_information` → collect exactly the `required_fields` and post them to `/kyc/information`.\n- `requires_verification` → show the user the `iframe_url` for the face scan.\n- `rejected` → the document couldn't be verified.",
        "requestBody": {
          "$ref": "#/components/requestBodies/KycDocument"
        },
        "responses": {
          "200": {
            "description": "The next step of the flow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KycState"
                },
                "examples": {
                  "needs_information": {
                    "summary": "Needs more info",
                    "value": {
                      "object": "kyc",
                      "status": "needs_information",
                      "required_fields": [
                        "national_id_number",
                        "phone_number",
                        "address_line1",
                        "address_city",
                        "address_region",
                        "address_postal_code",
                        "address_country"
                      ]
                    }
                  },
                  "requires_verification": {
                    "summary": "Ready for face scan",
                    "value": {
                      "object": "kyc",
                      "status": "requires_verification",
                      "iframe_url": "https://in.sumsub.com/websdk/p/…"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/KycDocumentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/UserConflict"
          },
          "422": {
            "$ref": "#/components/responses/DocumentUnprocessable"
          },
          "502": {
            "$ref": "#/components/responses/VerificationError"
          }
        }
      }
    },
    "/api/v2/kyc/information": {
      "post": {
        "tags": [
          "Identity verification"
        ],
        "summary": "Submit information",
        "operationId": "kycSubmitInformation",
        "description": "Submits the extra fields requested by a `needs_information` response. Send only the fields listed in `required_fields`. On success, the response returns the `iframe_url` for the face scan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The connected user's id."
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "description": "ISO 8601 date, `YYYY-MM-DD`."
                  },
                  "national_id_number": {
                    "type": "string",
                    "description": "The user's national identification number."
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "E.164 format with country code (e.g. `+15551234567`)."
                  },
                  "address_line1": {
                    "type": "string"
                  },
                  "address_line2": {
                    "type": "string"
                  },
                  "address_city": {
                    "type": "string"
                  },
                  "address_region": {
                    "type": "string",
                    "description": "State, province, or region."
                  },
                  "address_postal_code": {
                    "type": "string"
                  },
                  "address_country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code (e.g. `US`)."
                  }
                }
              },
              "example": {
                "user_id": "user_7g8h9i",
                "national_id_number": "123456789",
                "address_line1": "123 Main St",
                "address_city": "San Francisco",
                "address_region": "CA",
                "address_postal_code": "94105",
                "address_country": "US"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The next step — usually `requires_verification` with the `iframe_url`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KycState"
                },
                "example": {
                  "object": "kyc",
                  "status": "requires_verification",
                  "iframe_url": "https://in.sumsub.com/websdk/p/…"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing `user_id`. `invalid_fields` — a value didn't check out; the error adds a `field_errors` object naming each field to fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_fields",
                    "message": "Some of the information provided is invalid.",
                    "field_errors": {
                      "date_of_birth": "Enter a valid date."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/UserConflict"
          },
          "502": {
            "$ref": "#/components/responses/VerificationError"
          }
        }
      }
    },
    "/api/v2/kyc": {
      "get": {
        "tags": [
          "Identity verification"
        ],
        "summary": "Get verification status",
        "operationId": "kycGetStatus",
        "description": "Polls the current verification status — the alternative to the `identity.verification.updated` webhook.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The connected user's id."
          }
        ],
        "responses": {
          "200": {
            "description": "The current status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KycState"
                },
                "example": {
                  "object": "kyc",
                  "status": "approved"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing `user_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/UserConflict"
          }
        }
      }
    },
    "/api/v2/kyc/simulate": {
      "post": {
        "tags": [
          "Identity verification"
        ],
        "summary": "Simulate an outcome (test mode)",
        "operationId": "kycSimulate",
        "description": "**Test mode only.** Drives a test-mode verification to a chosen terminal outcome instantly — test verifications never complete on their own. The simulated verdict flows through the same status contract and fires the same `identity.verification.updated` webhook a real review produces, so your status handling and webhook consumer are exercised end to end. Requires a test-mode client credential; live tokens get `403 sandbox_only`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "outcome"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The connected user's id."
                  },
                  "outcome": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected",
                      "requires_input"
                    ],
                    "description": "The verdict to apply. `approved` — verification succeeds. `rejected` — terminal rejection. `requires_input` — a retryable bounce asking for new document photos."
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 300,
                    "description": "Optional end-user-safe explanation carried on non-approved outcomes — it appears as `reason` in statuses and webhook events, exactly like a real review's. It must not name internal providers or identifiers (rejected with `400 invalid_reason`), since it is shown to end users verbatim."
                  }
                }
              },
              "example": {
                "user_id": "user_7g8h9i",
                "outcome": "rejected",
                "reason": "The name on the document does not match the application."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The verification's new state, exactly as `GET /api/v2/kyc` now reports it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KycState"
                },
                "example": {
                  "object": "kyc",
                  "simulated": true,
                  "status": "rejected",
                  "reason": "The name on the document does not match the application."
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing `user_id` or an unknown `outcome`. `invalid_reason` — the `reason` names an internal provider or identifier (it is shown to end users verbatim).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "`sandbox_only` — the token is a live credential. Live verifications are decided by the identity provider and cannot be simulated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "sandbox_only",
                    "message": "Simulated verification outcomes only exist in test mode. Live verifications are decided by the identity provider."
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/UserConflict"
          },
          "502": {
            "$ref": "#/components/responses/VerificationError"
          }
        }
      }
    },
    "/api/v2/wallet": {
      "get": {
        "tags": [
          "Wallet funding"
        ],
        "summary": "Get the user's wallet",
        "operationId": "walletGet",
        "description": "The connected user's wallet and current balance — render it in your own wallet UI. Provisions the wallet on first read.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The connected user's id."
          }
        ],
        "responses": {
          "200": {
            "description": "The wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                },
                "example": {
                  "object": "wallet",
                  "user_id": "usr_123",
                  "address": "0xabc…",
                  "balance_usdc": "25.00",
                  "status": "active"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing `user_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/UserConflict"
          },
          "503": {
            "description": "`wallet_unavailable` — wallets are temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/fund": {
      "post": {
        "tags": [
          "Wallet funding"
        ],
        "summary": "Create a funding session",
        "operationId": "walletFund",
        "description": "Returns an Apple Pay / Google Pay payment link for the amount you specify. Show it in your UI; when the user completes the payment the funds land in their wallet. The link is single-use and expires after 30 minutes. Requires a phone verification fresh within 60 days — see `POST /api/v2/wallet/phone/start`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "amount_cents"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The connected user's id."
                  },
                  "amount_cents": {
                    "type": "integer",
                    "description": "Amount to fund, in USD cents."
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "apple_pay",
                      "google_pay"
                    ],
                    "default": "apple_pay"
                  },
                  "link_type": {
                    "type": "string",
                    "enum": [
                      "hosted",
                      "embedded"
                    ],
                    "default": "hosted",
                    "description": "hosted returns an Agentcard-hosted payment page, safe to relay anywhere (chat, email, QR); the underlying payment order is created only when the user opens it, so unopened hosted sessions cost nothing. embedded creates a REAL payment order immediately and returns the raw single-use Apple Pay link for rendering inside your own in-app webview; it lives about 5 minutes, must never be relayed through chat (link unfurlers consume it), and counts toward the user's per-user payment limits even if never paid, so mint it only when the user initiates payment. Embedded sessions support payment_method apple_pay only (google_pay with embedded is rejected). Sandbox-mode credentials create TEST orders (never charged)."
                  }
                }
              },
              "example": {
                "user_id": "usr_123",
                "amount_cents": 5000,
                "payment_method": "apple_pay"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The funding session, with the payment link to show the user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingSession"
                },
                "example": {
                  "object": "funding_session",
                  "id": "os_123",
                  "user_id": "usr_123",
                  "status": "pending",
                  "amount_cents": 5000,
                  "currency": "USD",
                  "payment_method": "apple_pay",
                  "checkout_url": "https://api.agentcard.sh/fund/…",
                  "expires_at": "2026-07-13T18:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing or malformed fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/UserConflict"
          },
          "422": {
            "description": "`amount_out_of_range` (with `min_amount_cents` / `max_amount_cents`), `phone_verification_required`, `email_required`, or `region_not_supported`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "`funding_provider_error` — try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`funding_unavailable` — funding is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/fund/{session_id}": {
      "get": {
        "tags": [
          "Wallet funding"
        ],
        "summary": "Get a funding session",
        "operationId": "walletFundStatus",
        "description": "Poll a funding session until it is `completed` — the payment status is refreshed from the provider on every read.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The funding session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingSession"
                },
                "example": {
                  "object": "funding_session",
                  "id": "os_123",
                  "user_id": "usr_123",
                  "status": "completed",
                  "amount_cents": 5000,
                  "currency": "USD",
                  "payment_method": "apple_pay",
                  "failure_reason": null,
                  "completed_at": "2026-07-13T18:12:00.000Z",
                  "created_at": "2026-07-13T18:00:00.000Z",
                  "expires_at": "2026-07-13T18:30:00.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "`not_found` — no funding session with that id for your users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/phone/start": {
      "post": {
        "tags": [
          "Wallet funding"
        ],
        "summary": "Start phone verification",
        "operationId": "walletPhoneStart",
        "description": "Sends the user a one-time code. Relay it through your UI — the user reads it back to you, same pattern as the connect code. A verification stays fresh for 60 days. Provide `phone_number` only when the user has no phone on file (US numbers only).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "E.164 US number (`+1XXXXXXXXXX`). Used only when the user has no phone on file."
                  }
                }
              },
              "example": {
                "user_id": "usr_123",
                "phone_number": "+14155550100"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`sent` (code on its way) or `already_verified` (nothing to do — proceed to fund).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneVerification"
                },
                "example": {
                  "object": "phone_verification",
                  "status": "sent",
                  "channel": "sms",
                  "phone": "+1••••••0100",
                  "expires_in_seconds": 600
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — malformed `phone_number`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "422": {
            "description": "`phone_number_required` — the user has no phone on file and none was provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`otp_rate_limited` (with `retry_after_seconds`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "`otp_send_failed` — try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/phone/verify": {
      "post": {
        "tags": [
          "Wallet funding"
        ],
        "summary": "Verify the phone code",
        "operationId": "walletPhoneVerify",
        "description": "Checks the code the user read back. On success the verification stays fresh for 60 days and funding sessions can be created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "code"
                ],
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Required only when the code was sent to a number you provided."
                  }
                }
              },
              "example": {
                "user_id": "usr_123",
                "code": "123456",
                "phone_number": "+14155550100"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneVerification"
                },
                "example": {
                  "object": "phone_verification",
                  "status": "verified"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConnectionNotFound"
          },
          "422": {
            "description": "`invalid_code` (with `reason`) or `phone_number_required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/withdrawal-recipients": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Save a bank destination",
        "operationId": "walletWithdrawalRecipientCreate",
        "description": "Saves a bank account the user can withdraw to. `ach` needs `routing_number`, `account_number`, and `account_type`; `international_wire` needs `iban` and `swift_code`. Some countries need extra fields via `country_specific` (for example `ifsc`, `clabe`, `bsb`); the validation error names any missing key. A user can hold up to 25 active destinations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "type",
                  "beneficiary_name",
                  "country_code"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The connected user's id."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "ach",
                      "international_wire"
                    ]
                  },
                  "beneficiary_name": {
                    "type": "string",
                    "description": "The account holder's legal name."
                  },
                  "country_code": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country of the bank account."
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "routing_number": {
                    "type": "string",
                    "description": "ACH: 9-digit ABA routing number."
                  },
                  "account_number": {
                    "type": "string",
                    "description": "ACH: the account number."
                  },
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "checking",
                      "savings"
                    ],
                    "description": "ACH only."
                  },
                  "iban": {
                    "type": "string",
                    "description": "International wire: the IBAN (spaces ok, normalized on save)."
                  },
                  "swift_code": {
                    "type": "string",
                    "description": "International wire: the SWIFT/BIC."
                  },
                  "bank_name": {
                    "type": "string"
                  },
                  "address_line1": {
                    "type": "string"
                  },
                  "address_line2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "country_specific": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Country-specific banking fields, e.g. `{\"ifsc\": \"...\"}` for India or `{\"clabe\": \"...\"}` for Mexico."
                  }
                }
              },
              "example": {
                "user_id": "usr_123",
                "type": "international_wire",
                "beneficiary_name": "Alex Example",
                "country_code": "DE",
                "iban": "DE89 3704 0044 0532 0130 00",
                "swift_code": "DEUTDEFF",
                "bank_name": "Deutsche Bank",
                "nickname": "Main account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The saved destination, masked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalRecipient"
                },
                "example": {
                  "object": "withdrawal_recipient",
                  "user_id": "usr_123",
                  "id": "wrec_9f2c1a",
                  "type": "international_wire",
                  "nickname": "Main account",
                  "beneficiary_name": "Alex Example",
                  "country_code": "DE",
                  "currency": null,
                  "bank_name": "Deutsche Bank",
                  "account_number_last4": null,
                  "routing_number": null,
                  "account_type": null,
                  "iban_last4": "••••3000",
                  "swift_code": "DEUTDEFF",
                  "created_at": "2026-07-16T00:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`withdrawals_disabled` — your organization has switched user withdrawals off.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`connection_not_found` — that user is not connected under your client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`recipient_fields_invalid` — a field failed validation (the message names it), or the 25-destination cap was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "List saved bank destinations",
        "operationId": "walletWithdrawalRecipientsList",
        "description": "The user's active bank destinations, masked. Removed destinations never appear.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The connected user's id."
          }
        ],
        "responses": {
          "200": {
            "description": "The list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WithdrawalRecipient"
                      }
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "withdrawal_recipient",
                      "user_id": "usr_123",
                      "id": "wrec_9f2c1a",
                      "type": "international_wire",
                      "nickname": "Main account",
                      "beneficiary_name": "Alex Example",
                      "country_code": "DE",
                      "currency": null,
                      "bank_name": "Deutsche Bank",
                      "account_number_last4": null,
                      "routing_number": null,
                      "account_type": null,
                      "iban_last4": "••••3000",
                      "swift_code": "DEUTDEFF",
                      "created_at": "2026-07-16T00:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`connection_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/withdrawal-recipients/{recipient_id}": {
      "delete": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Remove a bank destination",
        "operationId": "walletWithdrawalRecipientRemove",
        "description": "Soft-removes a saved destination. Withdrawals already requested against it are unaffected.",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The recipient id (`wrec_...`)."
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The connected user's id."
          }
        ],
        "responses": {
          "200": {
            "description": "Removed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "removed": true
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — no active recipient with that id for this user, or `connection_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/withdrawals": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Request a withdrawal",
        "operationId": "walletWithdraw",
        "description": "Requests a withdrawal from the user's spendable balance. Two rails: `bank` (default) pays a saved destination by wire; `address` sends USDC on Base to `destination_address`. Both are processed manually by the Agentcard team, usually within 1-3 business days; the user is emailed when the request is received and again when it is sent. Open (not yet completed or rejected) requests count against the balance, so a user cannot over-request. Amounts range from $2.00 to $10,000.00.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "amount_cents"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The connected user's id."
                  },
                  "amount_cents": {
                    "type": "integer",
                    "description": "Amount in USD cents, 200 to 1000000."
                  },
                  "rail": {
                    "type": "string",
                    "enum": [
                      "bank",
                      "address"
                    ],
                    "default": "bank"
                  },
                  "recipient_id": {
                    "type": "string",
                    "description": "Bank rail: the saved destination to pay (`wrec_...`)."
                  },
                  "destination_address": {
                    "type": "string",
                    "description": "Address rail: a 0x-prefixed address on Base to receive USDC. Agentcard-managed addresses are rejected."
                  }
                }
              },
              "example": {
                "user_id": "usr_123",
                "amount_cents": 2500,
                "rail": "bank",
                "recipient_id": "wrec_9f2c1a"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The withdrawal, in `requested`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdrawal"
                },
                "example": {
                  "object": "withdrawal",
                  "id": "wd_4b1d22",
                  "user_id": "usr_123",
                  "status": "requested",
                  "rail": "bank",
                  "amount_cents": 2500,
                  "destination_address": null,
                  "created_at": "2026-07-16T00:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`withdrawals_disabled` — your organization has switched user withdrawals off.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`connection_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`insufficient_funds` (details carry `available_cents` and `requested_cents`), `amount_out_of_range`, `recipient_not_found`, `invalid_destination`, or `internal_destination`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "List withdrawals",
        "operationId": "walletWithdrawalsList",
        "description": "The user's most recent withdrawals (up to 20), newest first, across every rail. Poll this to reflect status changes in your UI; `completed` and `rejected` are terminal and also emailed to the user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The connected user's id."
          }
        ],
        "responses": {
          "200": {
            "description": "The list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Withdrawal"
                      }
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "withdrawal",
                      "id": "wd_4b1d22",
                      "user_id": "usr_123",
                      "status": "requested",
                      "rail": "bank",
                      "amount_cents": 2500,
                      "destination_address": null,
                      "created_at": "2026-07-16T00:00:00.000Z",
                      "failure_code": null,
                      "completed_at": null,
                      "recipient": {
                        "object": "withdrawal_recipient",
                        "user_id": "usr_123",
                        "id": "wrec_9f2c1a",
                        "type": "international_wire",
                        "nickname": "Main account",
                        "beneficiary_name": "Alex Example",
                        "country_code": "DE",
                        "currency": null,
                        "bank_name": "Deutsche Bank",
                        "account_number_last4": null,
                        "routing_number": null,
                        "account_type": null,
                        "iban_last4": "••••3000",
                        "swift_code": "DEUTDEFF",
                        "created_at": "2026-07-16T00:00:00.000Z"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`connection_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "platformToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A platform access token. Get one on the **Create an access token** endpoint by exchanging your `client_id` + `client_secret`, then send it as `Authorization: Bearer <token>`. Tokens live one hour."
      }
    },
    "requestBodies": {
      "KycDocument": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "user_id",
                "image"
              ],
              "properties": {
                "user_id": {
                  "type": "string",
                  "description": "The connected user's id."
                },
                "image": {
                  "type": "string",
                  "description": "The image bytes, base64-encoded."
                },
                "mime_type": {
                  "type": "string",
                  "default": "image/jpeg",
                  "description": "The image's MIME type."
                },
                "document_type": {
                  "type": "string",
                  "enum": [
                    "drivers_license",
                    "state_id",
                    "passport"
                  ],
                  "description": "Optional document-type hint. Without it the document is auto-detected and defaults to a US driver's license. If a response `warnings` entry asks you to resubmit with a `document_type`, send the same image again with this field set — no need to go back to the user."
                },
                "issuing_country": {
                  "type": "string",
                  "description": "Optional ISO 3166-1 country code (alpha-2 or alpha-3) of the country that issued the document. Defaults to US when the document doesn't reveal it — always send it for non-US documents (e.g. `DE` for a German national ID)."
                }
              }
            },
            "example": {
              "user_id": "user_7g8h9i",
              "image": "<base64>",
              "mime_type": "image/jpeg"
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "`unauthorized` — the platform access token is missing or expired. Exchange your client credentials for a fresh one.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ConnectionNotFound": {
        "description": "`connection_not_found` — no connection exists for that user under your client.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "VerificationError": {
        "description": "`verification_error` — the step failed downstream. Try again.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "KycDocumentBadRequest": {
        "description": "`invalid_request` — missing `user_id` or `image`, or an unrecognized `document_type` / `issuing_country`. `invalid_image` — `image` isn't valid base64. `client_credentials_required` — the token wasn't minted from client credentials.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UserConflict": {
        "description": "`user_conflict` — the email on file in your organization belongs to a different account. Contact support.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "DocumentUnprocessable": {
        "description": "`document_rejected` — the image couldn't be processed; ask the user to retake the photo. `document_expired` — the document itself is expired; ask for a valid one. Either may include a `warnings` array with actionable feedback.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "document_rejected",
                "message": "The document image could not be processed — ask the user for a new, clear photo.",
                "warnings": [
                  "The verification provider still needs the back of the document — ask the user for the other side."
                ]
              }
            }
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The platform access token. Send it as `Authorization: Bearer <access_token>` on every other endpoint."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until the token expires (3600 = one hour)."
          },
          "scope": {
            "type": "string",
            "enum": [
              "api"
            ]
          }
        }
      },
      "OAuthError": {
        "type": "object",
        "description": "RFC 6749 §5.2 error shape — only the token endpoint uses it.",
        "properties": {
          "error": {
            "type": "string",
            "description": "A stable, machine-readable code."
          },
          "error_description": {
            "type": "string",
            "description": "A human-readable explanation."
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Every v2 error uses the same envelope.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "A stable, machine-readable string (snake_case). Branch on this."
              },
              "message": {
                "type": "string",
                "description": "A human-readable explanation, safe to log."
              },
              "docs": {
                "type": "string",
                "description": "A link back to the reference."
              },
              "field_errors": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Only on `invalid_fields` — names each field to fix."
              },
              "warnings": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only on document upload errors — actionable feedback safe to show the user."
              }
            }
          }
        }
      },
      "ConnectAttempt": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "connect_attempt"
            ]
          },
          "id": {
            "type": "string",
            "description": "The attempt id. Pass it back as `connect_id` when you verify."
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "phone"
            ],
            "description": "The channel the code was sent on."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the attempt expires (ISO 8601). Codes are valid for 10 minutes."
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "connection"
            ]
          },
          "access_token": {
            "type": "string",
            "description": "The user's connection token — store it to act on their behalf. Send it as the bearer token to the MCP server; never in the `Authorization` header of these endpoints."
          },
          "refresh_token": {
            "type": "string",
            "description": "Use it with `/connect/refresh` to get a new pair before the access token expires."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until the access token expires (3600 = one hour)."
          },
          "user": {
            "type": "object",
            "description": "The connected user. Store `id` — every KYC call names the user by it.",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Set when the user connected by email, otherwise `null`."
              },
              "phone": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Set when the user connected by phone, otherwise `null`."
              }
            }
          }
        }
      },
      "ConnectionRefreshed": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "connection"
            ]
          },
          "access_token": {
            "type": "string",
            "description": "The new connection access token."
          },
          "refresh_token": {
            "type": "string",
            "description": "The new refresh token. The old one is now invalid — replace the stored token every time."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until the access token expires (3600 = one hour)."
          }
        }
      },
      "Consent": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "consent"
            ]
          },
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "terms_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "KycState": {
        "type": "object",
        "description": "The single status contract every KYC response carries.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "kyc"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "awaiting_documents",
              "needs_information",
              "requires_verification",
              "pending",
              "approved",
              "rejected"
            ],
            "description": "`awaiting_documents` — upload the front and back. `needs_information` — collect the `required_fields` and submit them. `requires_verification` — show the user the `iframe_url`. `pending` — under review, no action needed. `approved` — verified, done. `rejected` — the user did not pass. Statuses are not one-way: a review can send a user back — `pending` may return to `needs_information` (a detail didn't match the document; re-collect the listed fields and resubmit, the check re-runs automatically) or to `awaiting_documents` (the images were unusable; upload both sides again). Always branch on the current status."
          },
          "required_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only on `needs_information` — exactly the fields to collect and post to `/kyc/information`."
          },
          "iframe_url": {
            "type": "string",
            "description": "Only on `requires_verification` — the URL to show the user for the face scan. Embed it in an iframe with `allow=\"camera; microphone\"`. Short-lived: always use the most recent one from a poll or webhook, never a stored copy."
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional, on document uploads — actionable feedback safe to show the user (for example, that the other side of the document is still needed)."
          },
          "reason": {
            "type": "string",
            "description": "Optional, on `needs_information`, `awaiting_documents`, `requires_verification`, and `rejected` — a short, end-user-safe explanation of what the review asked for (for example, “Enter your full name exactly as it appears on your identity document.”). Safe to show the user verbatim."
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "wallet"
          },
          "user_id": {
            "type": "string"
          },
          "address": {
            "type": "string",
            "description": "The wallet's on-chain address."
          },
          "balance_usdc": {
            "type": "string",
            "description": "Current balance in USD, as a decimal string."
          },
          "balance_unavailable": {
            "type": "boolean",
            "description": "Present and true when the balance could not be read right now — distinguish \"no funds\" from \"couldn't read\"."
          },
          "status": {
            "type": "string"
          }
        }
      },
      "FundingSession": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "funding_session"
          },
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "expired"
            ]
          },
          "amount_cents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "payment_method": {
            "type": "string",
            "enum": [
              "apple_pay",
              "google_pay"
            ]
          },
          "checkout_url": {
            "type": "string",
            "description": "The payment link to show the user. hosted: an Agentcard-hosted page, present while the link can still be opened. embedded: the raw provider Apple Pay link, present ONLY on the create response; the poll endpoint never re-serves it, so load it in an in-app webview immediately, never relay it, and create a new session if it lapses."
          },
          "failure_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "region_not_supported",
              "provider_error",
              null
            ]
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "On the create response: hosted links stay openable for 30 minutes; embedded links are single-use and expire about 5 minutes after creation (create a new session instead of retrying a lapsed link). On the poll endpoint, expires_at always reflects the session's 30-minute fundability window, not the embedded link's shorter life."
          },
          "link_type": {
            "type": "string",
            "enum": [
              "hosted",
              "embedded"
            ],
            "description": "Which kind of checkout_url this session carries. Returned only on the create response; the poll endpoint does not include it."
          },
          "fee_cents": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Provider fee included in amount_cents, in USD cents. Returned only on the create response of embedded sessions (the order is priced at create time); absent on hosted sessions and on the poll endpoint."
          }
        }
      },
      "PhoneVerification": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "phone_verification"
          },
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "already_verified",
              "verified"
            ]
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "email"
            ],
            "description": "Where the code was sent (status `sent` only)."
          },
          "phone": {
            "type": "string",
            "description": "The masked destination number (status `sent` only)."
          },
          "expires_in_seconds": {
            "type": "integer",
            "description": "How long the code stays valid (status `sent` only)."
          }
        }
      },
      "WithdrawalRecipient": {
        "type": "object",
        "description": "A saved bank destination. Account and IBAN numbers are always masked to their last four digits in responses.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "withdrawal_recipient"
            ]
          },
          "user_id": {
            "type": "string",
            "description": "The connected user this destination belongs to."
          },
          "id": {
            "type": "string",
            "description": "Recipient id (`wrec_...`). Pass it as `recipient_id` when creating a withdrawal."
          },
          "type": {
            "type": "string",
            "enum": [
              "ach",
              "international_wire"
            ]
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "beneficiary_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country of the bank account."
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "bank_name": {
            "type": "string",
            "nullable": true
          },
          "account_number_last4": {
            "type": "string",
            "nullable": true,
            "description": "Masked, ACH only. Example: `••••6789`."
          },
          "routing_number": {
            "type": "string",
            "nullable": true,
            "description": "ACH only."
          },
          "account_type": {
            "type": "string",
            "enum": [
              "checking",
              "savings"
            ],
            "nullable": true
          },
          "iban_last4": {
            "type": "string",
            "nullable": true,
            "description": "Masked, international wire only."
          },
          "swift_code": {
            "type": "string",
            "nullable": true,
            "description": "International wire only."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Withdrawal": {
        "type": "object",
        "description": "A withdrawal request. Both rails are processed manually: the status walks `requested` → `processing` → `completed` (or `rejected`), and the user is emailed at each step.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "withdrawal"
            ]
          },
          "id": {
            "type": "string",
            "description": "Withdrawal id (`wd_...`)."
          },
          "user_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "processing",
              "completed",
              "rejected"
            ]
          },
          "rail": {
            "type": "string",
            "enum": [
              "bank",
              "address"
            ],
            "description": "`bank` pays a saved recipient by wire; `address` sends USDC on Base to the supplied address."
          },
          "amount_cents": {
            "type": "integer"
          },
          "destination_address": {
            "type": "string",
            "nullable": true,
            "description": "Set on the `address` rail: the Base address receiving USDC."
          },
          "failure_code": {
            "type": "string",
            "nullable": true,
            "description": "Set when rejected, e.g. `rejected_by_ops`."
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "recipient": {
            "$ref": "#/components/schemas/WithdrawalRecipient",
            "nullable": true,
            "description": "The saved bank destination, when the rail is `bank`."
          }
        }
      }
    }
  }
}